<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
        <%  Mailer.all.each do |mailer| %> 
        <% if   mailer.last_date == Date.today %> 
      <tr>
        <td><%= mailer.mailer %></td>
      </tr>
    <% end %>
  
  <% end %>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>